.navbar, .navbar-brand, .navbar-items {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  background: #16171d;
  padding: 1.7rem 2rem 1rem 4rem;
  width: 90%;
}

.navbar-logo {
  margin: 0 46px 5px 0;
  padding: 0 10px;
  width: 174px;
  height: 52px;
  color: #ffffff;
  font: 600 32px/1.63 "Poppins", sans-serif;
  text-align: center;
}

.navbar-Cript {
  color: #f5c249;
}

.navbar-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-item {
  flex-grow: 0;
  padding: 0 2rem;
  width: 63px;
  height: 24px;
  color: #a7aebf;
  font: 400 16px/1.5 "Poppins", sans-serif;
  text-align: left;
}

.navbar-item:hover {
  color: orangered;
}

.navbar-contact {
  margin: 0 0 0 25rem;
  font-size: 16px;
}

.navbar-menu, .hidden {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    /* width:100%; */
    /* gap:5rem; */
    padding: 0.5rem 2rem;
    position:fixed;
  }
  .navbar-boton,
  .navbar-items {
    display: none;
  }
  .navbar-logo {
    padding: 0;
  }
  .navbar-contact {
    margin: 1px 0 0 107.25px;
  }
  .navbar-menu {
    display: block;
  }
  .navbar-mobile-menu {
    display: flex;
    position: fixed; /* Cambiado de absolute a fixed para que se mantenga en la pantalla */
    top: 0;
    left: 0; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: #16171d; 
    padding: 0;
    margin:4rem 0 0 0;
    width: 100%; 
    height: 100%; 
    color: #ffffff; 

}

.navbar-mobile-hambuger-menu {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    list-style-type: none; 
}

.navbar-mobile-hambuger-menu li {
    background-color: #16171d; 
    padding: 14px 22px; 
    width: 100%;
    color: #ffffff; 
    text-align: center; 
}

.navbar-mobile-hambuger-menu li:hover {
    background-color: #f5c249; 
    color: #16171d; 
    font-weight: 600;
}

.hidden {
    display: none;
}
}